---
name: Integration/Regression

on:                   # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      crs-config:
        required: false
        type: string
      backends:
        required: false
        type: string
        default: '["apache", "nginx"]'

env:
  # renovate: datasource=github-releases depName=coreruleset/go-ftw
  GO_FTW_VERSION: "v1.3.0"

jobs:
  modsecurity-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        backend: ${{ fromJSON(inputs.backends) }}

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: "Checkout CRS"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          repository: coreruleset/coreruleset
          path: crs

      - name: "Install dependencies"
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir -p tests/integration
          # Get go-ftw
          gh release download -R coreruleset/go-ftw -p 'ftw_*_linux_amd64.tar.gz' -O - ${{ env.GO_FTW_VERSION }} | tar -xzf - ftw
          # get latest docker-compose.yml file
          curl -skL https://raw.githubusercontent.com/coreruleset/crs-plugin-test-action/main/tests/integration/docker-compose.yml \
            -o tests/integration/docker-compose.yml
      
      - name: "Start ${{ matrix.backend }} "
        env:
          EXTRA_CONF: ${{ inputs.crs-config }}
        run: |
          # create logs directory
          mkdir -p tests/logs/${{ matrix.backend }}
          chmod a+rw tests/logs/${{ matrix.backend }}
          # use crs-config, if any
          echo "$EXTRA_CONF" > /tmp/crs-additional-setup.conf
          # start container
          docker compose -f tests/integration/docker-compose.yml up -d ${{ matrix.backend }}
          docker logs -f ${{ matrix.backend }} &
          # Give some room before next phase
          sleep 2

      - name: "Run plugin tests"
        run: |
          ./ftw check -d tests/regression
          ./ftw run -d tests/regression --show-failures-only
        env:
          FTW_LOGFILE: 'tests/logs/${{ matrix.backend }}/error.log'
      
      - name: "Tear down tests"
        run: |
          docker compose -f tests/integration/docker-compose.yml down -t 0
