---
name: Lint Plugin

on:                  # yamllint disable-line rule:truthy
  workflow_call:


jobs:
  check-syntax:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    # check why is failing and change afterwards
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Lint Yaml
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3
        with:
          format: github
          file_or_dir: tests/regression
          config_data: |
            extends: default
            rules:
              new-line-at-end-of-file:
                level: warning
              trailing-spaces:
                level: warning
              line-length:
                max: 1024
                level: warning
              indentation: disable
              comments:
                require-starting-space: true # default
                min-spaces-from-content: 1

      - name: Linelint
        uses: fernandrone/linelint@master
        id: linelint

      - name: Set up Python 3
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: 3.x

      - name: "Check Plugin syntax"
        run: |
          pip install --upgrade setuptools
          pip install secrules-parsing
          secrules-parser -c -v --output-type github -f plugins/*.conf
